body{
  font:normal 75% Arial, Helvetica, sans-serif;
  background: url('blueberry.jpg');
}

.panel {
    background-color: rgba( 28, 46, 66, 0.8);
    width: 400px;
    height: 400px;
    border: 1px solid rgba( 41, 56, 77, 0.8);
    border-radius: 20px;
    box-shadow: 2px 2px 20px 2px #06060d;
    position:relative;
    margin: 150px auto;
}

h1{
    background-color: rgba( 41, 56, 77, 0.6);
    height:60px;
    /* color:#929DAF; */
    color:white;
    text-align: center;
    line-height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 200px;
    font-size: 40px;
    text-shadow: 1px 1px #06060d;
    margin-top:0px;
    margin-bottom:0px;
}

p{
 color:#929DAF;
 font-size: 25px;;
 padding-left: 65px;
 padding-right: 20px;
 padding-top: 10px;
/*  text-align:center; */
}

ul{
 color:#929DAF;
 font-size: 18px;
 padding-left: 80px;
 padding-right: 60px;
 margin-bottom: 50px;
}
li{
  padding: 5px;
}

.button
{
	position: relative;
	padding: 10px 40px;
  /* float: left; */
  /* margin-left: 130px; */
  margin-left: 33%;
	border-radius: 8px;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	background-color: rgba( 41, 56, 77, 1);
  border:1px solid rgba( 41, 53, 58, 1);
	border-bottom: 5px solid rgba( 28, 46, 66, 1);
	text-shadow: 0px -2px black;
}


